.header {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 1em;
    margin-bottom: 2em;
  }
  
  .title {
    font-size: 2.5rem;
    color: rgb(50, 50, 50);
  }
  
  .subtitle {

    border-bottom: 1px solid rgb(197, 191, 191);
    line-height: 0.1em;
    color: rgb(90, 90, 90);
  }

  .subtitle span {

    background:#fff; 
    padding:0 10px;
  }
 